In [1]:
import numpy

In [2]:
#Here I use double braces for make db 2D so multiple argument i can fit 
a = numpy.array([["abhi",1111,10] , ["jack",2222,20] , ["pop",3333,30] , ["eric",4444,40]])

In [3]:
type(a)

numpy.ndarray

In [4]:
a

array([['abhi', '1111', '10'],
       ['jack', '2222', '20'],
       ['pop', '3333', '30'],
       ['eric', '4444', '40']], dtype='<U4')

In [5]:
# showing that you have only 4 rows 3 coloumns
a.shape

(4, 3)

In [6]:
a.dtype

dtype('<U4')

In [7]:
# if you have more than one coloumn and row then it will called term Matrix

In [8]:
score = a[: , -1]

In [9]:
 score

array(['10', '20', '30', '40'], dtype='<U4')

In [10]:
type(score)

numpy.ndarray

In [11]:
# it shows 1D array because it have only one one argument
score.shape

(4,)

In [12]:
# if you have 1D then it will called term Vector and more than 1D like 2,3D is called Matrix.

In [13]:
s = score.astype(int)

In [14]:
type(score)

numpy.ndarray

In [15]:
s.dtype

dtype('int32')

In [16]:
s

array([10, 20, 30, 40])

In [17]:
s.min()

10

In [18]:
s.mean()

25.0

In [19]:
a

array([['abhi', '1111', '10'],
       ['jack', '2222', '20'],
       ['pop', '3333', '30'],
       ['eric', '4444', '40']], dtype='<U4')

In [20]:
a.dtype

dtype('<U4')

In [21]:
'''above one is show datatype unicode4 dtype('<U4') mean in a  variable we have multiple datatype like 
int,str so because of multiple dtype is show like this'''

"above one is show datatype unicode4 dtype('<U4') mean in a  variable we have multiple datatype like \nint,str so because of multiple dtype is show like this"

In [22]:
b = numpy.array([1,2,3])

In [23]:
b

array([1, 2, 3])

In [24]:
b.dtype

dtype('int32')

In [25]:
c = numpy.array(["a" , "b" , "c"])

In [26]:
c.dtype

dtype('<U1')

In [27]:
# information about our data or data of data is called Metadata

In [28]:
a

array([['abhi', '1111', '10'],
       ['jack', '2222', '20'],
       ['pop', '3333', '30'],
       ['eric', '4444', '40']], dtype='<U4')

In [29]:
a.dtype = { 'names': ['StudentName' , 'Phone' , 'Score'] , 'formats': [numpy.str, numpy.int32, numpy.int32] }

In [30]:
t = numpy.array([1,2,3])

In [31]:
t.dtype = { 'names': ['ID'], 'formats': [numpy.int32]}

In [32]:
t['ID']

array([1, 2, 3])

In [33]:
##pandas

In [34]:
import pandas

In [35]:
d = pandas.read_csv("excel data.csv")

In [36]:
d

     name  mobile    remarks  marks
0  vikash       1         ok     10
1    raja       2       good     20
2  manish       3     v.good     30
3  anurag       4  excellent     40

In [37]:
d[ ["name" , "remarks"] ]

     name    remarks
0  vikash         ok
1    raja       good
2  manish     v.good
3  anurag  excellent

In [40]:
d["mobile"]

0    1
1    2
2    3
3    4
Name: mobile, dtype: int64

In [41]:
d["marks"]

0    10
1    20
2    30
3    40
Name: marks, dtype: int64

In [43]:
# show location 
d.iloc[1]

name       raja
mobile        2
remarks    good
marks        20
Name: 1, dtype: object

In [44]:
d.iloc[1,2]

'good'

In [45]:
type(d)

pandas.core.frame.DataFrame