In [1]:
import numpy

In [3]:
# dir(numpy)

In [4]:
students = ['a', 'b', 'c', 'd']

In [5]:
students[1]

'b'

In [6]:
type(students)

list

In [30]:
db = [ ["vimal",1111,"vimal@gmail.com",5], ["tom",2222,"top@gmail.com",6], ["pop",3333,"pop@gmail.com",7], ["krish",4444,"krish@gmail.com",8] ]

In [31]:
print(db)

[['vimal', 1111, 'vimal@gmail.com', 5], ['tom', 2222, 'top@gmail.com', 6], ['pop', 3333, 'pop@gmail.com', 7], ['krish', 4444, 'krish@gmail.com', 8]]

In [32]:
db[0]

['vimal', 1111, 'vimal@gmail.com', 5]

In [33]:
db

[['vimal', 1111, 'vimal@gmail.com', 5],
 ['tom', 2222, 'top@gmail.com', 6],
 ['pop', 3333, 'pop@gmail.com', 7],
 ['krish', 4444, 'krish@gmail.com', 8]]

In [34]:
db[1][2][0]

't'

In [35]:
'''Query we do row wise
but Analysis we do coloumn wise'''

'Query we do row wise\nbut Analysis we do coloumn wise'

In [44]:
a = numpy.array(db)

In [45]:
a

array([['vimal', '1111', 'vimal@gmail.com', '5'],
       ['tom', '2222', 'top@gmail.com', '6'],
       ['pop', '3333', 'pop@gmail.com', '7'],
       ['krish', '4444', 'krish@gmail.com', '8']], dtype='<U15')

In [51]:
a[:,3]

array(['5', '6', '7', '8'], dtype='<U15')

In [48]:
type(a)

numpy.ndarray

In [49]:
type(db)

list